@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0;
  line-height: 1.4;
}








